.apps__detail {
    padding: 40px;
    display: grid;
    grid-template-columns: minmax(0, 443px) minmax(0, 680px);
    gap: 45px;
}

.apps__detail--last {
    background-color: #ffffff;
    padding: 40px;
    display: flex;
}

.apps__detail > .app__detail {
    width: 100%;
    max-width: 443px;
    position: relative;
}

.apps__detail h1,
.apps__detail--last h2 {
    font-family: Erply Ladna;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
    color: rgba(29, 36, 51, 1);
    margin-bottom: 20px;
}

.apps__detail--last h2 {
    font-weight: 400;
    letter-spacing: -1px;
}

.apps__detail--last .app__detail {
    max-width: 811px;
    width: 100%;
}

.app__detail--last {
    padding-right: 40px;
}

.app__complete-desc {
    font-family: Erply Ladna;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(29, 36, 51, 1);
}

.app__img {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 20px;
}

.app__mini-desc {
    font-family: Erply Ladna;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;    
    color: rgba(29, 36, 51, 1);
    margin-bottom: 20px;
}

.app__overview--container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: max-content;
}

.app__overview {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.app__overview-title,
.app__overview-title + span {
    font-family: Erply Ladna;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: rgba(29, 36, 51, 0.75);
    text-transform: capitalize;
    margin-bottom: 8px;
}

.app__overview-title + span {
    color: rgba(0, 0, 0, 1);
}

.app__sub {
    margin-bottom: 20px;
    font-family: Erply Ladna;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(29, 36, 51, 1);    
}

.buttons__group {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.buttons__group > div {
    display: flex;
    gap: 8px;
}

.app__cta {
    background-color: #3D8AF6;
    color: #ffffff;
    border-radius: 4px;
    font-family: Erply Ladna;
    font-size: 16px;
    font-weight: 96;
    line-height: 19px;
    letter-spacing: 0.02em;
    text-align: center;
    padding: 10.5px 59px;   
    display: inline-block;
    cursor: pointer;
}

.app__cta.cta--open,
.app__cta.cta--update,
.app__cta.cta--uninstall {
    width: 100px;
    padding-left: unset;
    padding-right: unset;
    display: grid;
    place-content: center;
}

.app__cta.cta--open {
    background-color: transparent;
    border: 1px solid #78AEFA;
    color: #3D8AF6;
}

.app__cta.cta--uninstall {
    background-color: transparent;
    border: 1px solid #F28670;
    color: #E0593E;
}

.app__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    position: relative;
    padding-inline: 40px;
}

.app__slider img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    object-fit: contain;
    border-radius: 4px;
    padding-inline: 40px;
    
}

.arrow {
    position: absolute;
    left: 0px;
    padding: 6px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.16);
    height: 32px;
    width: 32px;
    display: grid;
    place-content: center;
    cursor: pointer;
}

.arrow.right {
    left: unset;
    right: 0px;
    transform: rotate(180deg);
}

.app__similar--apps {
    padding: 40px 0 40px 40px;
    width: 100%;
    max-width: 300px;
}

.similar-apps--container {
    display: inline-block;
    width: 100%;
}

.app__similar--apps .apps__row--header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.similar__app--block {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 27px;
    /* justify-content: center; */
}

.app--block-content {
    width: 100%;
}

.app--block-content > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.apps__row--header > p{
    font-family: Erply Ladna;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: -1px;
    text-align: left;
    color: rgba(29, 36, 51, 1);
}

.see__more {

    font-family: Erply Ladna;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
    color: rgba(61, 138, 246, 1);
}

.app--block-content .app__title{
    font-family: Erply Ladna;
    font-size: 16px;
    margin-bottom: 2px;
    font-weight: 115;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(29, 36, 51, 1);
}

.app--block-content .app__type {
    font-family: Erply Ladna;
    font-size: 14px;
    font-weight: 96;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
    color: rgba(29, 36, 51, 0.75);
}

@media screen and (max-width: 767px) {
    .apps__detail {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, minmax(0, 1fr));
        padding-inline: 24px;
    }

    .apps__detail--last {
        flex-direction: column;
        gap: 40px;
        padding-inline: 24px;
    }

    .app__detail--last {
        padding: 0;
    }

    .app__similar--apps {
        padding: 0;
    }

    .app__similar--apps {
        max-width: unset;
    }

    .similar__app--block {
        margin-bottom: 0;
        align-items: flex-start;
        height: max-content;
    }
    
    .similar-apps--container {
        display: flex;
        overflow: auto;
        width: 100%;
    }

    .app--block-content > div {
        flex-direction: column;
        align-items: flex-start;
    }

    .similar-apps--container > div:not(:last-of-type) {
        margin-right: 16px;
    }

    .app--block-content .app__title {
        width: 150px;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        white-space: nowrap;
    }
}