.flex {
    display: flex;
}

.items-center {
    align-items: center;
}

.items-end {
    align-items: flex-end;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.flex-col {
    flex-direction: column;
}

.cursor {
    cursor: pointer;
}

.w-full {
    width: 100%;
}

.text-sm {
    font-size: 16px;
    color: rgba(29, 36, 51, 0.75);
    font-weight: 96;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;    
}

.text-md {
    font-size: 18px;
    font-weight: 115;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}